@import url('https://fonts.font.im/css?family=Noto+Sans|Righteous');
/*
Usage:
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Righteous', sans-serif;
*/

* {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Righteous', sans-serif;
  line-height: 150%;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 25px;
}

a {
  text-decoration: none;
  opacity: 0.6;
}
a:hover {
  text-decoration: underline;
}

nav > a:hover {
  text-decoration: none;
  background-color: #999;
}