* {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}

h1 {
  font-size: 35px;
}
h2 {
 font-size: 32px;
}
h3 {
  font-size: 29px;
}
h4 {
  font-size: 26px;
}
h5 {
  font-size: 23px;
}

a {
  text-decoration: none;
  opacity: 0.85;
  margin-left: 2px;
  margin-right: 2px;
}
a:hover {
  text-decoration: underline;
}