@import './utils.css';

:root {
  /* Font Families */
  --mono-basic: 'Noto Sans', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  --mono-more: 'Palanquin Dark', Verdana, var(--mono-basic);
  /* Colors */
  --near-black: #101010;
  --deep-gray: #3f3f3f;
  --mid-gray: #656565;
  --h-light-mid-gray: rgba(3, 2, 3, 0.06);
  --light-mid-gray: rgba(3, 2, 3, 0.04);
  --light-gray: #efefef;
  --my-blue: #15678a;
  --my-red: #db4a5d;
}

:root {
  color: var(--deep-gray);
  font-family: var(--mono-basic);
}

@media (min-width: 440px) {
  :root {
    font-size: 1.03rem;
    line-height: 160%;
  }
}

@media (max-width: 439px) {
  :root {
    font-size: 0.92rem;
    line-height: 150%;
  }
}

* {
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  outline: 0px !important;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.mono-more {
  font-family: var(--mono-more);
  letter-spacing: 1px;
}

h1 {
  font-size: 2.1rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 110%;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

body {
  background-color: var(--light-gray);
}

textarea {
  border: 2px solid var(--deep-gray);
  border-radius: 8px;
  outline: none !important;
}

input {
  border: 2px solid var(--deep-gray);
  border-radius: 8px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

input:focus {
  --uno: 'shadow-lg';
}

@media (any-hover: hover) or (hover: hover) {

  textarea:hover,
  input:hover {
    --uno: 'shadow-md'
  }
}

nav>* {
  padding-left: 5px;
  padding-right: 5px;
}

.button {
  border: 2px solid var(--deep-gray);
  border-radius: 8px;
  padding: 6px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 1.02rem;
}

.badge-icon-down {
  width: 1.1em;
  height: 1.1em;
  transform: translateY(3px);
}

.badge-icon {
  width: 1.1em;
  height: 1.1em;
}

p a {
  border-radius: 5px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 3px;
}

p a:hover {
  background-color: var(--light-mid-gray);
}

/* For home page */
@media (max-width: 650px) {
  .home-img {
    width: 80%;
  }
}

@media (max-width: 949px) and (min-width: 651px) {
  .home-img {
    width: 55%;
  }
}

@media (min-width: 950px) {
  .spacer {
    display: none;
  }

  .home {
    flex-wrap: nowrap;
  }

  .home-img {
    width: 45%;
  }
}

@media (max-width: 949px) {
  .spacer {
    display: block;
  }

  .home {
    flex-wrap: wrap;
  }
}