@css {
  @import url('https://fonts.googleapis.com/css?family=Noto+Sans|Palanquin+Dark|Roboto+Mono');
}

*
  margin: 0px
  padding: 0px
  font-size: 16px
  background-color: #fff
  line-height: 170%
  color: rgb(50, 81, 139)
  border-width: 0px
  border-color: rgb(75, 118, 199)
  font-family: 'Noto Sans', Arial, sans-serif

h1, h2, h3, h4, h5, h6
  line-height: 180%
  color: rgb(21, 56, 87)
  font-family: 'Palanquin Dark', Arial, sans-serif

.dark-text
  color: rgb(21, 56, 87)

h1
  font-size: 30px

h2
  font-size: 26px

h3
  font-size: 24px

h4
  font-size: 22px

h5
  font-size: 20px

h6
  font-size: 18px

p
  margin: 8px
  margin-top: 12px
  margin-bottom: 8px

a
  text-decoration: none
  color: #000

a:hover
  text-decoration: underline

ul > li::before
  content: '· '
  font-weight: 900

ul, ol
  margin: 10px

img
  padding: 10px

code
  background-color: #dddddf
  color: #000
  margin: 6px
  padding: 3px
  line-height: 100%
  font-size: 14px

pre
  margin: 7px
  padding: 5px
  line-height: 110%
  padding-left: 10px
  border-radius: 7px
  background-color: rgb(10, 54, 94) !important

pre *
  background-color: transparent !important
  line-height: 110%
  font-size: 14px
  margin: 0px
  font-family: 'Roboto Mono', monospace

.dark
  *
    background-color: rgb(18, 43, 65)
    color: rgb(188, 201, 226)
    border-color: rgb(75, 118, 199)

  a, h1, h2, h3, h4, h5, h6
    color: #fff

  code
    background-color: #38383b
    color: #fff
