---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="About Me">
  <main>
    <h1 class="animate-delay-500 animate-duration-1500 animate-bounce-in-left">
      Hi!
    </h1>
    <h1 class="animate-delay-1000 animate-duration-1500 animate-bounce-in-left">
      This is Zheheng Zhang!
    </h1>
  </main>
</MainLayout>
