<div
  class="w-100% flex flex-col items-center p-20px text-15px slide-enter-content"
>
  <p class="italic pb-17px">
    <span class="transition-160">{'<'}</span>
    Code is immortal, just like the incredible scenery we've been searching for
    <span class="transition-160">{'/>'}</span>
  </p>
  <p>
    <span>*</span>2024-PRESENT &copy; Zheheng Zhang. Code licensed under
    <a href="https://www.gnu.org/licenses/gpl-3.0.html">GPL 3.0 </a>.
  </p>
</div>

<style>
  p {
    text-align: center;
    line-height: 160%;
    opacity: 0.7;
    margin: 0.3rem;
  }
  p span {
    color: #000;
    font-weight: 800;
    font-size: 1.1rem;
    margin-left: 4px;
    margin-right: 4px;
  }
</style>
