<div class="w-100% flex lh-100% flex-col items-center p-20px text-15px">
  <p>Code licensed under GPL3.0</p>
  <p>Passages and images licensed under CC-BY-NC-SA-4.0</p>
</div>

<style>
  p {
    line-height: 100%;
    text-align: center;
    opacity: 0.8;
  }
</style>
