<div class="w-100% flex lh-100% flex-col items-center p-20px text-15px">
  <p><span>*</span>Code licensed under GPL3.0</p>
  <p><span>*</span>Passages and images licensed under CC-BY-NC-SA-4.0</p>
</div>

<style>
  p {
    text-align: center;
    opacity: 0.7;
  }
  p span {
    color: #000;
    font-weight: 800;
    font-size: 1.1rem;
    margin-left: 4px;
    margin-right: 4px;
  }
</style>
