<nav class="flex w-100% h-20px p-10px">
  <a href="/" class="inline-block m-0">
    <img src="/logo.svg" alt="Home" class="dark:hidden"/>
    <img src="/logo_dark.svg" alt="Home" class="hidden dark:inline-block"/>
  </a>
  <div class="flex-auto"></div>
  <a href="/blogs/">Blogs</a>
  <a href="/projects">Projects</a>
  <a
    href="https://github/zhangzheheng12345"
    target="_blank"
    class="i-carbon-logo-github c-black dark:c-white"
    title="My GitHub"></a>
</nav>

<style>
  a {
    margin: 5px;
  }
  img {
    padding: 0px;
  }
</style>
