<nav class="flex w-100% h-20px p-10px text-black dark:text-white">
  <a href="/" class="inline-block m-0">
    <img src="/logo.svg" alt="Home" class="dark:hidden" />
    <img src="/logo_dark.svg" alt="Home" class="hidden dark:inline-block" />
  </a>
  <div class="flex-auto"></div>
  <a href="/blogs/" class="jump-link">Blogs</a>
  <a href="/blogs/" class="i-carbon-blog jump-icon  hover:scale-105" title="My Blogs"></a>
  <a href="/projects" class="jump-link">Projects</a>
  <a href="/projects/" class="i-carbon-box jump-icon  hover:scale-105" title="My Projects"></a>
  <a
    href="https://github/zhangzheheng12345"
    target="_blank"
    class="i-carbon-logo-github c-black dark:c-white"
    title="My GitHub"></a>
</nav>

<style lang="stylus">
  a
    margin: 5px
    font-size: 18px

  img
    padding: 0px

  .jump-icon
    display: none

  @media (max-width: 550px)
    .jump-link
      display: none
    .jump-icon
      display: inline-block
</style>
