---
import DarkLightToggler from './DarkLightToggler.vue'
---

<nav class="flex h-auto w-100% items-baseline p-10px dark:text-white">
  <a href="/" class="inline-block m-0 p-2px scale-80">
    <img src="/logo.svg" alt="Home" class="inline-block dark:hidden" />
    <img src="/logo_dark.svg" alt="Home" class="hidden dark:inline-block" />
  </a>
  <div class="flex-auto"></div>
  <a
    href="/blog/"
    class="i-uil-book hover:scale-105 dark:bg-white"
    title="My Blog"></a>
  <a
    href="/projects/"
    class="i-uil-inbox hover:scale-105 dark:bg-white"
    title="My Projects"></a>
  <DarkLightToggler client:only />
  <a
    href="https://github/zhangzheheng12345"
    target="_blank"
    class="i-uil-github-alt dark:bg-white hover:scale-105"
    title="My GitHub"></a>
</nav>

<style>
  a {
    margin: 5px;
    font-size: 18px;
  }
  img {
    padding: 0px;
  }
</style>
