---
import DarkLightToggler from './DarkLightToggler.vue'
---

<nav class="flex w-100% h-20px p-10px text-black dark:text-white">
  <a href="/" class="inline-block m-0">
    <img src="/logo.svg" alt="Home" class="dark:hidden" />
    <img src="/logo_dark.svg" alt="Home" class="hidden dark:inline-block" />
  </a>
  <div class="flex-auto"></div>
  <a href="/blog/" class="jump-link">Blog</a>
  <a
    href="/blog/"
    class="i-uil-book jump-icon hover:scale-105 dark:bg-white"
    title="My Blog"></a>
  <a href="/projects" class="jump-link">Projects</a>
  <a
    href="/projects/"
    class="i-uil-inbox jump-icon hover:scale-105 dark:bg-white"
    title="My Projects"></a>
  <DarkLightToggler client:load />
  <a
    href="https://github/zhangzheheng12345"
    target="_blank"
    class="i-uil-github-alt dark:bg-white hover:scale-105"
    title="My GitHub"></a>
</nav>

<style>
  a {
    margin: 5px;
    font-size: 18px;
  }
  img {
    padding: 0px;
  }
  .jump-icon {
    display: none;
  }
  @media (max-width: 550px) {
    .jump-link {
      display: none;
    }
    .jump-icon {
      display: inline-block;
    }
  }
</style>
