<div class="flex w-100% h-20px justify-end p-10px">
  <a href="/blogs/">Blogs</a>
  <a href="/projects/">Projects</a>
  <a
    href="https://github/zhangzheheng12345"
    target="_blank"
    class="i-carbon-logo-github"
    title="My GitHub"></a>
</div>

<style>
  a {
    margin: 5px;
  }
</style>
