---

---

<nav class="flex h-auto w-100% items-baseline p-10px dark:text-white">
  <a
    href="/"
    class="inline-block m-0 p-2px scale-80 hover:translate-y--3px transition-160"
    title="Home"
  >
    <img src="/logo.svg" alt="Home" class="inline-block dark:hidden" />
    <img src="/logo_dark.svg" alt="Home" class="hidden dark:inline-block" />
  </a>
  <div class="flex-auto"></div>
  <a
    href="/projects/"
    class="i-lucide-box hover:translate-y--3px transition-160"
    title="My Projects"></a>
  <a
    href="https://unsplash.com/@zheheng_zhang"
    class="i-tabler-brand-unsplash hover:translate-y--3px transition-160"
    title="My Unsplash"></a>
  <a
    href="https://github/zhangzheheng12345"
    target="_blank"
    class="i-lucide-github hover:translate-y--3px transition-160"
    title="My GitHub"></a>
  <a href="/about/" class="i-lucide-info hover:translate-y--3px transition-160"
  ></a>
</nav>

<style>
  a {
    margin: 5px;
    font-size: 18px;
  }
  img {
    padding: 0px;
  }
</style>
