---
import '../styles/global.css'

import Footer from '../components/Footer.astro'
import BaseHead from '../components/BaseHead.astro'
import NavBar from '../components/NavBar.astro'

const { title } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} />
    <title>{title}</title>
  </head>
  <body>
    <NavBar />
    <slot />
    <Footer />
  </body>
</html>
