---
import '../styles/global.css'

import Footer from '../components/Footer.astro'
import BaseHead from '../components/BaseHead.astro'
import NavBar from '../components/NavBar.astro'

const { title } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Noto+Sans|Palanquin+Dark|Roboto+Mono'"
    />
    <title>{title}</title>
  </head>
  <body>
    <NavBar />
    <main><slot /></main>
    <Footer />
  </body>
</html>
