---
import  ChineseBadge from '../components/ChineseBadge.astro'
import MainLayout from './MainLayout.astro'

const { frontmatter } = Astro.props
---

<MainLayout title={ frontmatter.title }>
  <h1>{ frontmatter.title } <ChineseBadge isCn={ frontmatter.cn }/></h1>
  <slot />
  { frontmatter.inProgress ? <div class="w-100% p-10px text-bold">STILL IN PROGRESS</div> : <div/> }
</MainLayout>