---
import ChineseBadge from '../components/ChineseBadge.astro'
import MainLayout from './MainLayout.astro'

const { frontmatter } = Astro.props
---

<MainLayout title={frontmatter.title}>
  <h1 class="flex items-center">
    {frontmatter.title}
    <ChineseBadge isCn={frontmatter.cn} />
  </h1>
  <p class="pl-10px text-18px">{frontmatter.time}</p>
  <slot />
  {
    frontmatter.inProgress ? (
      <div class="mt-45px text-18px strong-font ml-30px">
        STILL IN PROGRESS
        <span class="i-uil-jackhammer m-4px text-inherit dark:bg-white" />
      </div>
    ) : (
      <div />
    )
  }
</MainLayout>
