---
import BasePage from './BasePage.astro'

const { frontmatter } = Astro.props
---

<BasePage title={frontmatter.title}>
  <div class="ma p-8% max-w-1100px min-h-80vh">
    <slot />
  </div>
</BasePage>
