---
import BasePage from './BasePage.astro'
import CoverImg from '../components/CoverImg.vue'

const { frontmatter } = Astro.props
---

<BasePage title={frontmatter.title}>
  <CoverImg client:load />
  <div class="ma p-8% max-w-750px min-h-90vh">
    <slot />
  </div>
</BasePage>
