---
import '../styles/global.css'

import Head from '../components/Head.astro'

const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{ title }</title>
  </head>
  <body>
    <Head />
    <div class="ma p-8% pt-12% fit-screen">
      <slot />
    </div>
  </body>
</html>

<style lang="stylus">
  @media (min-width: 720px) and (max-width: 1000px)
    .fit-screen
      width: 700px

  @media (min-width: 1000px)
    .fit-screen
      width: 70%;
</style>
