---
import '../styles/global.css'

import Head from '../components/Head.astro'

const { frontmatter } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <Head />
    <div class="p-10%">
      <h1>{frontmatter.title}</h1>
      <slot />
    </div>
  </body>
</html>
