---
import Head from '../components/Head.astro'

const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body>
    <Head />
    <div class="p-5% pt-7%"><slot /></div>
  </body>
</html>

<style is:global>
  * {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
  }
  h1 {
    font-size: 35px;
  }
</style>
