---
import '../styles/fonts.css'
import '../styles/global.styl'

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <div class="ma p-8% pt-12% fit-screen min-h-90vh">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style>
  @media (min-width: 720px) and (max-width: 1000px) {
    .fit-screen {
      width: 700px;
    }
  }

  @media (min-width: 1000px) {
    .fit-screen {
      width: 70%;
    }
  }
</style>
