---
import BasePage from './BasePage.astro'
import NavBar from '../components/NavBar.astro'

const { frontmatter } = Astro.props
---

<BasePage title={frontmatter.title}>
  <NavBar bgType="gray" />
  <div class="ma p-8% max-w-750px min-h-90vh">
    <slot />
  </div>
</BasePage>
